In [17]:
import pandas as pd

df = pd.read_excel(open('C:\JAL CS\RESERVAS REASEGURO ENERO 18 Slip 15.xlsx','rb'), sheetname='Hoja2')
df.head()
# or using sheet index starting 0
df1 = pd.read_excel(open('C:\JAL CS\Reservas Reaseguro Febrero 18 Slip 15.xlsx','rb'), sheetname='Hoja1')
df1

catalogo = pd.read_excel(open('C:\JAL CS\Catalogo_estado.xlsx','rb'), sheetname='Sheet1')
catalogo

#el slip esta en sm
#campos a usar key,vsm_actual,SaldoInsolutoActual,PagosVencidosMeses


enero= df[['key','vsm_actual','SaldoInsolutoActual','PagosVencidosMeses']]
enero_estado=pd.merge(enero,catalogo, on='key',how='inner')
febrero=df1[['key','vsm_actual','SaldoInsolutoActual','PagosVencidosMeses']]

consolidado=pd.merge(febrero,enero_estado, on='key',how='inner')
consolidado.head()

,key,vsm_actual_x,SaldoInsolutoActual_x,PagosVencidosMeses_x,vsm_actual_y,SaldoInsolutoActual_y,PagosVencidosMeses_y,estado
0,0,2686.144,204.43,0,2686.144,203.19,0,Jalisco
1,1,2686.144,42.63,0,2686.144,42.78,0,Jalisco
2,2,2686.144,189.87,0,2686.144,190.63,0,Jalisco
3,3,2686.144,51.81,0,2686.144,52.00,0,Jalisco
4,4,2686.144,197.55,0,2686.144,194.85,0,Jalisco

In [21]:
consolidado.to_csv('C:\JAL CS\consolidado.csv',index=False)

In [22]:
!pwd

/c/Users/430010950